@font-face {
   font-family: 'Reem Kufi';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/sambandic/GitHub%20Folder/sambandic.github.io//fonts/Reem Kufi/regular.ttf') format('truetype');
}
